[submodule "meta/plugins/dotbot-yay"]
	path = meta/plugins/dotbot-yay
	url = https://github.com/oxson/dotbot-yay
[submodule "meta/plugins/dotbot-git"]
	path = meta/plugins/dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
[submodule "awesome/awesome-buttons"]
	path = awesome/awesome-buttons
	url = https://github.com/streetturtle/awesome-buttons.git
	update = rebase
	branch = master
[submodule "awesome/smart_borders"]
	path = awesome/smart_borders
	url = https://github.com/intrntbrn/smart_borders.git
	update = rebase
	branch = master
[submodule "awesome/freedesktop"]
	path = awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
	update = rebase
	branch = master
[submodule "awesome/modalawesome"]
	path = awesome/modalawesome
	url = https://github.com/potamides/modalawesome
	update = rebase
	branch = master
[submodule "awesome/awesome-switcher"]
	path = awesome/awesome-switcher
	url = https://github.com/berlam/awesome-switcher.git
	update = rebase
	branch = master
[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain.git
	update = rebase
	branch = master
[submodule "awesome/omegavoid"]
	path = awesome/omegavoid
	url = https://github.com/OmegaRogue/omegavoid-awesomewm.git
	update = rebase
	branch = main
[submodule "awesome/foggy"]
	path = awesome/foggy
	url = https://gitlab.com/k3rni/foggy
	branch = master
	update = rebase
[submodule "awesome/amh"]
	path = awesome/amh
	url = https://github.com/sim590/amh.git
	branch = master
	update = rebase
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "awesome/bling"]
	path = awesome/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "awesome/layout-machi"]
	path = awesome/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi.git
[submodule "awesome/collision"]
	path = awesome/collision
	url = https://github.com/Elv13/collision.git
[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
